<!DOCTYPE html>
<html>
<head>
	<title>Canteen</title>
</head>
<body>
	<p>Welcome to the canteen <%= name %>!</p>
	<% if(isAdmin){ %>
		<p><a href="http://localhost:8080/addItem">Add a new item</a></p>
	<% } %>
	<p><a href="http://localhost:8080/menu">Menu</a></p>
	<p><a href="http://localhost:8080/cart">Cart</a></p>
	<p><a href="http://localhost:8080/logout">Logout</a></p>
</body>
</html>
