<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<form action="http://localhost:8080/login" method="post">
		<label for="phone">Phone No.</label>
		<p><input type="tel" name="phone" required></p>

		<label for="password">Password</label>
		<p><input type="password" name="password" required></p>

		<% if(showError){ %>
			<p><%= loginError %></p>
		<% } %>

		<p><button type="submit">Login</button></p>
	</form>
	<p><a href="http://localhost:8080/register">Register</a></p>
</body>
</html>
